<?xml version="1.0"?>
<!--
/**
 * Copyright © Ecwhim. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Ecwhim_CanonicalUrlGraphQl">
        <sequence>
            <module name="Magento_GraphQl"/>
            <module name="Ecwhim_CanonicalUrl"/>
        </sequence>
    </module>
</config>
